In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LassoCV
from sklearn import datasets

#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

In [2]:
satellite = pd.read_csv('satellite_dataset.csv')
satellite.head()

,blue,green,red,nir,swir1,swir2,wofs,bosque,wofs_bosque,ninguno
0,203.0,131.0,36.0,21.0,61.0,46.0,1,0,0,0
1,207.0,137.0,39.0,27.0,71.0,59.0,1,0,0,0
2,393.0,325.0,217.0,200.0,254.0,176.0,1,0,0,0
3,269.0,201.0,58.0,11.0,51.0,43.0,1,0,0,0
4,194.0,218.0,112.0,103.0,153.0,130.0,1,0,0,0

In [3]:
# Reemplazar el valor de columna Wofs por NaN(0) y Wofs(1)
satellite['wofs'] = satellite['wofs'].replace(0,np.nan)
satellite['wofs'] = satellite['wofs'].replace(1,'wofs')

In [4]:
# Reemplazar el valor de columna bosque por NaN(0) y bosque(1)
satellite['bosque'] = satellite['bosque'].replace(0,np.nan)
satellite['bosque'] = satellite['bosque'].replace(1,'bosque')

In [5]:
# Reemplazar el valor de columna wofs_bosque por NaN(0) y wofs_bosque(1)
satellite['wofs_bosque'] = satellite['wofs_bosque'].replace(0,np.nan)
satellite['wofs_bosque'] = satellite['wofs_bosque'].replace(1,'wofs_bosque')

In [6]:
# Reemplazar el valor de columna ninguno por NaN(0) y ninguno(1)
satellite['ninguno'] = satellite['ninguno'].replace(0,np.nan)
satellite['ninguno'] = satellite['ninguno'].replace(1,'ninguno')

In [7]:
satellite.head(10)

,blue,green,red,nir,swir1,swir2,wofs,bosque,wofs_bosque,ninguno
0,203.0,131.0,36.0,21.0,61.0,46.0,wofs,NaN,NaN,NaN
1,207.0,137.0,39.0,27.0,71.0,59.0,wofs,NaN,NaN,NaN
2,393.0,325.0,217.0,200.0,254.0,176.0,wofs,NaN,NaN,NaN
3,269.0,201.0,58.0,11.0,51.0,43.0,wofs,NaN,NaN,NaN
4,194.0,218.0,112.0,103.0,153.0,130.0,wofs,NaN,NaN,NaN
5,247.0,204.0,101.0,83.0,102.0,83.0,wofs,NaN,NaN,NaN
6,201.0,507.0,287.0,3934.0,1692.0,622.0,NaN,bosque,NaN,NaN
7,143.0,87.0,-11.0,-26.0,28.0,29.0,wofs,NaN,NaN,NaN
8,857.0,837.0,763.0,822.0,757.0,498.0,wofs,NaN,NaN,NaN
9,329.0,218.0,101.0,68.0,88.0,71.0,wofs,NaN,NaN,NaN

In [8]:
#Se crea una nueva columna para almacenar el valor de etiqueta
satellite['label']=np.nan
#Se indica en la columna 'label', la clasificacion de la columna 'wofs'. Se esribe "Wofs" en columna 'label' si en  
#la columna 'wofs' esta este valor
for label in [col for col in satellite.columns if 'wofs' in col]:
    satellite['label'].fillna(satellite[label],inplace=True)
    
#Se indica en la columna 'label', la clasificacion de la columna 'bosque'. Se esribe "bosque" en columna 'label' si en  
#la columna 'bosque' esta este valor
for label in [col for col in satellite.columns if 'bosque' in col]:
    satellite['label'].fillna(satellite[label],inplace=True)
    
#Se indica en la columna 'label', la clasificacion de la columna 'wofs_bosque'. Se esribe "wofs_bosque" en columna 'label' si en  
#la columna 'wofs_bosque' esta este valor
for label in [col for col in satellite.columns if 'wofs_bosque' in col]:
    satellite['label'].fillna(satellite[label],inplace=True)
    
#Se indica en la columna 'label', la clasificacion de la columna 'ninguno'. Se esribe "ninguno" en columna 'label' si en  
#la columna 'ninguno' esta este valor
for label in [col for col in satellite.columns if 'ninguno' in col]:
    satellite['label'].fillna(satellite[label],inplace=True)
satellite.head(20)

,blue,green,red,nir,swir1,swir2,wofs,bosque,wofs_bosque,ninguno,label
0,203.0,131.0,36.0,21.0,61.0,46.0,wofs,NaN,NaN,NaN,wofs
1,207.0,137.0,39.0,27.0,71.0,59.0,wofs,NaN,NaN,NaN,wofs
2,393.0,325.0,217.0,200.0,254.0,176.0,wofs,NaN,NaN,NaN,wofs
3,269.0,201.0,58.0,11.0,51.0,43.0,wofs,NaN,NaN,NaN,wofs
4,194.0,218.0,112.0,103.0,153.0,130.0,wofs,NaN,NaN,NaN,wofs
5,247.0,204.0,101.0,83.0,102.0,83.0,wofs,NaN,NaN,NaN,wofs
6,201.0,507.0,287.0,3934.0,1692.0,622.0,NaN,bosque,NaN,NaN,bosque
7,143.0,87.0,-11.0,-26.0,28.0,29.0,wofs,NaN,NaN,NaN,wofs
8,857.0,837.0,763.0,822.0,757.0,498.0,wofs,NaN,NaN,NaN,wofs
9,329.0,218.0,101.0,68.0,88.0,71.0,wofs,NaN,NaN,NaN,wofs
10,46.0,163.0,71.0,3.0,30.0,25.0,wofs,NaN,NaN,NaN,wofs
11,200.0,177.0,102.0,102.0,145.0,126.0,wofs,NaN,NaN,NaN,wofs
12,143.0,84.0,-13.0,-23.0,29.0,28.0,wofs,NaN,NaN,NaN,wofs
13,193.0,106.0,14.0,2.0,44.0,38.0,wofs,NaN,NaN,NaN,wofs
14,231.0,134.0,34.0,21.0,60.0,51.0,wofs,NaN,NaN,NaN,wofs
15,731.0,659.0,579.0,613.0,656.0,454.0,NaN,NaN,NaN,ninguno,ninguno
16,263.0,269.0,63.0,0.0,47.0,45.0,wofs,NaN,NaN,NaN,wofs
17,176.0,114.0,21.0,10.0,57.0,48.0,wofs,NaN,NaN,NaN,wofs
18,217.0,207.0,115.0,115.0,157.0,136.0,wofs,NaN,NaN,NaN,wofs
19,228.0,289.0,135.0,112.0,158.0,133.0,wofs,NaN,NaN,NaN,wofs

In [9]:
# Se crea el conjunto de calsificacion y el de entrenamiento
Y = satellite["label"]
X = satellite.drop(columns=["label","wofs","bosque","wofs_bosque","ninguno"], axis=1)

# Se crean los conjuntos de entrenamiento y de prueba
Para hacer esto se deben dividir los datos en 4 conjuntos de datos como se puede apreciar en la siguiente imagen.
![title](conjuntos.png)

In [10]:
# Se dividen los datos en los conjuntos de Train y test
X_train, X_test, y_train, y_test = train_test_split(
    X,
    Y,
    test_size=0.3,
    random_state=0
)

# Naive Bayes para multiples capas
La clasificación multicapa del algoritmo Naive Bayes es conocida como "Clasificación Naive Bayes Multinomial". Como se puede apreciar la clasificación de nuestro conjunto de caracteristicas puede tener 4 valores: wofs, bosque, wofs_bosqu y ninguno.

In [11]:
#Create a Gaussian Classifier
gnb = GaussianNB()

In [12]:
#Train the model using the training sets
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [13]:
#Predict the response for test dataset
y_pred = gnb.predict(X_test)

In [14]:
# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9416033333333333

# Referencias
https://www.datacamp.com/community/tutorials/naive-bayes-scikit-learn

https://datascience.stackexchange.com/questions/40345/how-to-convert-multiple-columns-into-single-columns-in-pandas

https://stackoverflow.com/questions/13295735/how-can-i-replace-all-the-nan-values-with-zeros-in-a-column-of-a-pandas-datafra